* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
button {
  color: #fff;
  font-size: 1.1rem;
  border-radius: 5px;
  word-break: break-all;
}

.button-outer {
  background-color: #0ea7ff;
  display: block;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  flex-wrap: nowrap;
}
.button-outer button {
  border: none;
  background: none;
  margin: 5px;
  padding: none;
}

#main {
  display: flex;
  flex-wrap: wrap;
}

/* #add {
  background-color: #0ea7ff;
  border: none;
  padding: 5px;
  margin: 5px;
} */

button:hover {
  background-color: #ffffff70 !important;
}
/* 
#close-n-stuff {
  display: flex;
  width: 100%;
  height: 24px;
  align-items: center;
  /* background-color: #fff; 
  background-color: #36383d;
  -webkit-app-region: drag;
  border-radius: 5px;
  cursor: move;
}
#close-n-stuff img {
  height: 20px;
  width: 20px;
  -webkit-app-region: no-drag;
  color: #fff;
  cursor: pointer;
} */

html,
body {
  background-color: #202124;
  margin: 0;
  overflow: hidden;
  height: 100%;
}
#close-n-stuff {
  width: 100%;
  height: 30px;
  align-items: center;
  background-color: #36383d;
  -webkit-app-region: drag;
  user-select: none;
  -webkit-user-select: none;
}

#close-n-stuff .right {
  float: right;
  display: flex;
}

#close-n-stuff .left {
  float: left;
  display: flex;
}
#close-n-stuff .left p {
  color: #ffffff;
  padding: 5px;
  font-size: 17px;
  margin: 0;
}

#close-n-stuff img {
  height: 100%;
}
#close-n-stuff .control-button {
  height: 15px;
  padding: 7.5px;
  width: 30px;
  text-align: center;
  -webkit-app-region: no-drag;
}

#close-n-stuff .control-button:hover {
  background-color: #ffffff30;
}

.bobbel {
  width: 20px;
  height: 20px;
  padding: 10px;
  background: #36383d;
  border-radius: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;

  box-shadow: 0 0 5px;
}

.bobbel:hover {
  background-color: #494b52;
}

.bobbel * {
  width: 100%;
  height: 100%;
}

.inner {
  height: calc(100% - 30px);
  overflow: auto;
}

.inner::-webkit-scrollbar {
  width: 10px;
}
.inner::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
.inner::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}
.inner::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
