name: Publish master

on:
  push:
    branches: [master]

jobs:
  test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install
        run: npm ci

      - name: Test
        run: npm test

  build-win:
    needs: test
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install
        run: npm ci

      - name: Build
        run: npm run publish-win
        env:
          GH_TOKEN: ${{ secrets.github_token }}

  build-mac:
    needs: test
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install
        run: npm ci

      - name: Build
        run: npm run publish-mac
        env:
          GH_TOKEN: ${{ secrets.github_token }}
